h1 {
  margin: 0.35rem 0;
  text-align: center;
}

.app-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.default-colors {
  background-color: #3385ff;
  color: #ffffff;
}

.error-wrapper {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 0.75rem;
}

.form-body {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  margin: 0.5rem 0.5rem;
}

.hover-color {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

.hover-color:hover {
  color:rgb(0, 0, 0)
}

.text-field {
  margin: 0.5rem 0 !important;
  width: 100%;
}