h1 {
  margin: 0.35rem 0;
  text-align: center;
}

.app {
  text-align: center;
}

.app-body {
  align-items: center;
  background-color: #c0bcbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-link {
  color: #61dafb;
}

.column-display {
  display: flex;
  flex-direction: column;
}

.login-form {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  margin: 0.5rem 0.5rem;
  max-width: 300px;
}